<h1>Form Design</h1>
<form [formGroup]="designerForm">
  <div formArrayName="lists">
    <div *ngFor="let list of designerForm.get('lists')['controls']; let i = index" class="w-50">
      <div [formGroupName]="i" style="margin-bottom: 10px;" class="d-flex flex-column">
        <div class="d-flex align-items-center">
          <input type="text"
                 [ngClass]="{'is-invalid':list?.get('fieldName')?.errors?.required,'form-control mr-2':true}"
                 placeholder="Field Name" formControlName="fieldName"/>
          <input type="text"
                 [ngClass]="{'is-invalid':list?.get('parameterName')?.errors?.required,'form-control mr-2':true}"
                 placeholder="Parameter Name" formControlName="parameterName"/>
          <select class="form-control mr-2" formControlName="formField" (change)="designerFormFieldOnChange(list)">
            <option *ngFor="let field of designerFormFieldTypes" [ngValue]="field.type">{{field.label}}</option>
          </select>
          <ng-container [ngSwitch]="list?.get('formField')?.value">
            <ng-container *ngSwitchCase="'input'">
              <input type="text" placeholder="Default Value" class="form-control mr-2" formControlName="defaultValue"/>
            </ng-container>
            <ng-container *ngSwitchCase="'textarea'">
              <textarea placeholder="Default Value" class="form-control mr-2" 
                        formControlName="defaultValue"></textarea>
              <input type="number" placeholder="Rows" class="form-control mr-2"
                        formControlName="rowNumber"/>
            </ng-container>
            <ng-container *ngSwitchCase="'checkbox'">
              <input type="checkbox" placeholder="Default Value" class="mr-2" formControlName="defaultValue"/>
            </ng-container>
            <ng-container *ngSwitchCase="'number'">
              <input type="number" placeholder="Default Value" class="form-control mr-2"
                     formControlName="defaultValue"/>
            </ng-container>
            <ng-container *ngSwitchCase="'date'">
              <input type="date" placeholder="Default Value" class="form-control mr-2" formControlName="defaultValue"/>
            </ng-container>
          </ng-container>
          <input type="checkbox" class="mr-2" formControlName="required"/>
          <input type="button" value="Remove" (click)="designerFormRemoveList(i)" class="btn btn-danger">
        </div>

        <ng-container
          *ngIf="(list?.get('formField')?.value === 'select') || (list?.get('formField')?.value === 'ngselect') ">
          <app-select-option formControlName="formFieldParameters"></app-select-option>
        </ng-container>

        <ng-container *ngIf="(list?.get('formField')?.value === 'input') ||
        (list?.get('formField')?.value === 'textarea') ||
        (list?.get('formField')?.value === 'number')">
        <app-validation formControlName="validation" [formField]="list?.get('formField')?.value"
                        class="d-flex mt-3"></app-validation>
        </ng-container>

      </div>
    </div>
  </div>
</form>
<input type="button" (click)="designerFormAddList()" value="Add" [disabled]="designerForm.invalid"
       class="btn btn-primary mr-2">
<input type="button" (click)="designerFormOnSave()" value="Save" [disabled]="designerForm.invalid"
       class="btn btn-primary">
<pre>{{designerForm.value | json}}</pre>
