<form [formGroup]="selectOptionForm">
  <ng-container formArrayName="selectOptions">
    <ng-container
      *ngFor="let optionList of selectOptionForm?.get('selectOptions')?.controls; let index = index; let last = last;">
      <div [formGroupName]="index">
        <input type="text" placeholder="Label" class="w-50 mt-2" formControlName="label">
        <input type="text" placeholder="Value" class="w-50 mb-2" formControlName="value">
      </div>
      <input type="button" class="mt-2 mb-2 btn btn-danger" value="Remove" (click)="removeSelectFieldOption(index)">
      <input type="button" class="mt-2 mb-2 btn btn-primary" *ngIf="last" value="Add Options"
             (click)="addSelectFieldOption()">
    </ng-container>
    <input type="button" class="mt-2 mb-2 btn btn-primary"
           *ngIf="selectOptionForm?.get('selectOptions')?.controls?.length ===0"
           value="Add Options" (click)="addSelectFieldOption()">
  </ng-container>
</form>
